VITE_FIREBASE_API_KEY=your-staging-web-api-key
VITE_FIREBASE_AUTH_DOMAIN=bayadtayoopo-staging.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bayadtayoopo-staging
VITE_FIREBASE_STORAGE_BUCKET=bayadtayoopo-staging.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=823399450682
VITE_FIREBASE_APP_ID=1:823399450682:web:c37faba4af63ea61018d03
VITE_KOFI_URL="https://ko-fi.com/whythoughspace"
